busybox
initrd*.gz
uInitrd*
vmlinuz*
dependencies*.tar
dependencies*.tar.gz

*~
*#
.#*

tree/etc/mdev.conf
tree/bin/busybox
tree/sbin/init
tree/bin/sh
tree/lib/
tree/usr/
tree/etc/udhcpc/
tree/bin/
tree/dev/
tree/run/
tree/sbin/
tree/var/

/export.tar
/minirootfs
/minirootfs.tar

qemu/metadata_mock/static/