busybox
initrd*.gz
initrd*.pax
uInitrd*
vmlinuz*
dependencies*.tar
dependencies*.tar.gz
miniroot-*.tar.gz
miniroot-*
miniroot-Openbsd-armv7.fs
bsd.rd
output-*

*~
*#
.#*

export.tar
minirootfs
minirootfs.tar

armdisk.img

qemu/metadata_mock/static/
*/dependencies-*/tmp
