busybox
initrd.gz
uInitrd
vmlinuz
dependencies.tar
dependencies.tar.gz

*~
*#
.#*

tree/etc/mdev.conf
tree/bin/busybox
tree/sbin/init
tree/bin/sh
tree/lib/
tree/usr/
tree/etc/udhcpc/

/export.tar
/minirootfs
/minirootfs.tar

metadata_mock/static/